<div class="container" align="center">

  <div class="jumbotron mt-1">

    <h2>Plantilla resultados hoy lateral </h2>
    <br>
    <div [innerHTML]="loteriasHoyLateral"></div>
    <br>
    <h2>Plantilla central resultados semanales HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 90%" rows="60">{{plantillaCentralHtml}}</textarea>
    <br>
    <h2>Plantilla central resultados Laterales visualizacion</h2>
    <br>
    <div [innerHTML]="plantillaLateralHtml"></div>
    <br>
    <h2>Plantilla central resultados laterales HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 90%" rows="25">{{plantillaLateralHtml}}</textarea>

  </div>