<div class="container" align="center">

  <div class="jumbotron">

    <h2>Billonario central HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 100%" rows="80">{{billonarioCentral}}</textarea>
    <br>
    <h2>Billonario Lateral HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 100%" rows="100">{{billonarioLateral}}</textarea>

  </div>

  <div class="jumbotron">

    <h2>Baloto central HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 100%" rows="50">{{balotoCentral}}</textarea>
    <br>
    <h2>Baloto Lateral HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 100%" rows="40">{{balotoLateral}}</textarea>

  </div>