/* estilos de billonario */

.baloto_r {
  height: 100%;
  width: 100%;
  background-image: url(../../../content/images/fondos/FondoRojo.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.baloto_c {
  width: 80%;
  margin: 0 auto;
}

.baloto_head {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.baloto_head h4 {
  background-color: #ffc801;
  color: #771112;
  width: min-content;
  padding: 0.5em;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0;
  margin: 0 auto;
  border-radius: 0.5em;
  position: relative;
  z-index: 222;
  font-family: GothamRounded;
}

.baloto_head .logo {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  border-radius: 990px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2em;
}

.baloto_head .logo img {
  width: 55%;
}

.border-b {
  border: 1px solid #ffc801;
  border-radius: 12px;
  padding: 18px;
  width: 60%;
  margin: 36px auto;
}

.billo-titulo {
  width: 70%;
  display: block;
  margin: 0 auto;
  font-family: GothamRounded;
}

.billo-titulo h3 {
  background-color: #ffc801;
  color: #771112;
  width: max-content;
  padding: 0.2em 0.5em;
  font-size: 2em;
  text-transform: uppercase;
  margin: 18px auto;
  border-radius: 0.5em;
  margin-top: -40px;
}

.baloro_premio,
.nums,
.num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
}

.baloro_premio {
  color: white;
  font-family: GothamRounded;
}

.dolar {
  font-size: 5em;
  margin: 0;
}

.num {
  align-items: flex-end;
}

h3.num_d {
  font-size: 3em !important;
  color: #4d4d4d;
  background-color: white;
  border-radius: 0.1em;
  padding: 0.2em;
  margin: 0;
}
h3.num_c {
  font-size: 4em;
  margin: 0;
  display: flex;
  align-items: flex-start;
}

h3.num_p {
  font-size: 2em;
  margin: 0;
}

.baloto_t,
.baloto_url {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.baloto_t h1 {
  color: white;
  font-family: GothamRounded;
  font-size: 1.5em;
}
.baloto_url {
  width: 50%;
}

.baloto_url h1 {
  color: #771112;
  background-color: white;
  border-radius: 99px;
  font-family: GothamRounded;
  font-size: 2.2em;
  padding: 0.4em 0.9em;
}

@media (min-width: 1080px) and (max-width: 1550px) {
  .baloto_r {
    height: 100%;
    width: 100%;
    background-image: url(../../../content/images/fondos/FondoRojo.png);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .baloto_c {
    width: 80%;
    margin: 0 auto;
  }

  .baloto_head {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  .baloto_head h4 {
    background-color: #ffc801;
    color: #771112;
    width: min-content;
    padding: 0.5em;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
    margin: 0 auto;
    border-radius: 0.5em;
    position: relative;
    z-index: 222;
    font-family: GothamRounded;
  }

  .baloto_head .logo {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2em;
  }

  .baloto_head .logo img {
    width: 55%;
  }

  .border-b {
    border: 1px solid #ffc801;
    border-radius: 12px;
    padding: 18px;
    width: 80%;
    margin: 36px auto;
  }

  .baloro_premio,
  .nums,
  .num {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0;
  }

  .baloro_premio {
    color: white;
    font-family: GothamRounded;
  }

  .dolar {
    font-size: 3em;
    line-height: 3em;
    margin: 0;
  }

  .num {
    align-items: flex-end;
  }

  h3.num_d {
    font-size: 2.5em !important;
    color: #4d4d4d;
    background-color: white;
    border-radius: 0.1em;
    padding: 0.2em;
    margin: 0;
  }
  h3.num_c {
    font-size: 3em;
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  h3.num_p {
    font-size: 2.5em;
    margin: 0;
  }

  .baloto_t,
  .baloto_url {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .baloto_t h1 {
    color: white;
    font-family: GothamRounded;
    font-size: 1.2em;
    margin: 0;
  }
  .baloto_url {
    width: 60%;
  }

  .baloto_url h1 {
    color: #771112;
    background-color: white;
    border-radius: 99px;
    font-family: GothamRounded;
    font-size: 1.8em;
    padding: 0.4em 0.9em;
  }
}
