<div class="container" align="center">

  <div class="jumbotron mt-1">

    <h2>billonaro central </h2>
    <br>
    <div [innerHTML]="billonarioCentral"></div>
    <br>
    <h2>billonaro central HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 90%" rows="60">{{billonarioCentral}}</textarea>
    <br>
    <h2>Billonario Lateral</h2>
    <br>
    <div [innerHTML]="billonarioLateral"></div>
    <br>
    <h2>billonario Lateral HTML</h2>
    <br>
    <textarea class="form-control" id="floatingTextarea2" style="width: 90%" rows="25">{{billonarioLateral}}</textarea>

  </div>